*.sdf
Resource_IPhone/
Custom/Debug/
Custom/Release/
DES_GOBSTG/DES_GOBSTG/Debug/
DES_GOBSTG/DES_GOBSTG/Release/
hgeParticleEditor/Debug/
hgeParticleEditor/Release/
lib/vc/
LuaPlus/Debug/
LuaPlus/Release/
ReplayView/Debug/
ReplayView/Release/
Resource/Data/*.databin
Resource/Data/TH_RESOURCE.RES
Resource/EffectSys.pck
Resource/Graphic.pck
Resource/Script.dat
Resource/Script_Lua/Script.lua
Resource/SE.pck
ResourcePack/Debug/
ResourcePack/Release/
ResourceUnpack/Debug/
ResourceUnpack/Release/
src/core/Debug/
src/core/Release/
src/helpers/Debug/
src/helpers/Release/